	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2019 05:39
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-magnifying-glass:before { content: "\f100"; }
.flaticon-search:before { content: "\f101"; }
.flaticon-play-button:before { content: "\f102"; }
.flaticon-play-button-1:before { content: "\f103"; }
.flaticon-argument:before { content: "\f104"; }
.flaticon-brain:before { content: "\f105"; }
.flaticon-brain-1:before { content: "\f106"; }
.flaticon-anger:before { content: "\f107"; }
.flaticon-left-quote:before { content: "\f108"; }
.flaticon-add:before { content: "\f109"; }
.flaticon-add-1:before { content: "\f10a"; }
.flaticon-substract:before { content: "\f10b"; }
.flaticon-substract-1:before { content: "\f10c"; }
.flaticon-minus:before { content: "\f10d"; }
.flaticon-up-arrow:before { content: "\f10e"; }
.flaticon-up-arrow-1:before { content: "\f10f"; }
.flaticon-woman:before { content: "\f110"; }
.flaticon-group:before { content: "\f111"; }
.flaticon-work:before { content: "\f112"; }
.flaticon-graphic:before { content: "\f113"; }
.flaticon-pen:before { content: "\f114"; }
.flaticon-cube:before { content: "\f115"; }
.flaticon-support:before { content: "\f116"; }
.flaticon-smart:before { content: "\f117"; }